body{
    background-color: black;
}
.red{
    color: red;
}
.border{
    border-radius: 25px;
    background-color: cyan;
    border: 2px solid red;
    text-align: center;
}
.btborder{
    margin: 20px auto;
    
}
.button{
    color: white;
    text-decoration: none;
    text-decoration-line: none;

}
.button2{
    color: goldenrod;
    text-decoration: none;
    text-decoration-line: none;

}